<figure class="image"><%= simple_image_preview(entity) %></figure>
<div class="data">
  <div><%= admin_entity_link(entity) %></div>
  <div class="info"><%= entity.slug %></div>
  <% if entity.parent_id.nil? %>
    <div class="secondary info">
      <%= t('.components') %>:
      <%= entity.biovision_components.map { |c| component_name(c) }.join(', ') %>
    </div>
  <% end %>
  <div class="secondary info"><%= t(:object_count, count: entity.object_count!) %></div>

  <%= entity_toggle(entity) %>

  <% if local_assigns[:handler]&.permit?('edit', entity) %>
    <div class="entity-actions">
      <%= edit_icon(entity) %>
      <%= entity_priority_icons(entity) %>
      <%= destroy_icon(entity) %>
    </div>
  <% end %>
</div>
